# DB
# Parameters used by db container
POSTGRES_DB=backend
POSTGRES_DEFAULT_SCHEMA=myschema
POSTGRES_USER=mypostgresuser
POSTGRES_PASSWORD=mypostgrespassword
PGPASSWORD="$POSTGRES_PASSWORD"

POSTGRAPHILE_ROLE=postgraphile_login
POSTGRAPHILE_ROLE_PASSWORD=some-super-secret-password

# GRAPHQL
# Parameters used by graphql container
GRAPHILE_PORT=5432
JWT_SECRET=super-jwt-secret
DATABASE_URL=postgres://$POSTGRAPHILE_ROLE:$POSTGRAPHILE_ROLE_PASSWORD@db:$GRAPHILE_PORT/$POSTGRES_DB
