# DB
# Parameters used by db container
POSTGRES_DB=mydatabase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# Database roles
# see db/init/01-roles.sh
W_ROLE=postgraphile_login
W_ROLE_PASSWD=blablabla

# POSTGRAPHILE
# Parameters used by graphql container
JWT_SECRET=my-super-secret
DATABASE_URL=postgres://postgraphile_login:blablabla@db:5432/backend
